<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form method="post">
    <div class="form-group">
        <input type="hidden" th:field="${eventTag.event}">
    <select th:field="${eventTag.tag}">"
        <option th:ech = "tag: ${tags}"
                th:value = "${tag.id}"
                th:text = "${tag.name}"
        ></option>

    </select>
     <input type="submit" value="Add Tag" class="btn btn-success">
</form>
</body>
</html>
